-- AUTO-GENERATED SCHEMA EXPORT
BEGIN;
CREATE TABLE IF NOT EXISTS announcement (
  id integer NOT NULL DEFAULT nextval('announcement_id_seq'::regclass),
  title character varying NOT NULL,
  category character varying,
  content text NOT NULL,
  priority character varying,
  audience character varying,
  status character varying,
  start_date date,
  start_time time without time zone,
  created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS customers (
  customerid integer NOT NULL DEFAULT nextval('customers_customerid_seq'::regclass),
  firstname text NOT NULL,
  lastname text NOT NULL,
  contact character varying,
  userid integer,
  updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  profileimage character varying DEFAULT NULL::character varying
);

CREATE TABLE IF NOT EXISTS admin (
  adminid integer NOT NULL DEFAULT nextval('admin_adminid_seq'::regclass),
  firstname text NOT NULL,
  lastname text NOT NULL,
  contact character varying,
  userid integer,
  updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  image text
);

CREATE TABLE IF NOT EXISTS customerpayment (
  customerpaymentid integer NOT NULL DEFAULT nextval('customerpayment_customerpaymentid_seq'::regclass),
  reference_code character varying,
  method text,
  status character varying DEFAULT 'pending'::character varying,
  currency character varying DEFAULT 'PHP'::character varying,
  checkout_url text,
  paymongo_id character varying,
  delivery_fee numeric NOT NULL DEFAULT 0.00,
  customerid integer,
  updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  shipping_street text,
  shipping_barangay character varying,
  shipping_city character varying,
  shipping_province character varying,
  shipping_postal_code character varying,
  courier_name character varying,
  estimated_delivery_date timestamp without time zone,
  shipped_at timestamp without time zone,
  delivered_at timestamp without time zone,
  tracking_number character varying,
  refunded_at timestamp without time zone,
  refund_receipt_image character varying,
  fulfillment_branchid integer
);

CREATE TABLE IF NOT EXISTS customerpayment_orders (
  id integer NOT NULL DEFAULT nextval('customerpayment_orders_id_seq'::regclass),
  customerpaymentid integer NOT NULL,
  orderid integer NOT NULL
);

CREATE TABLE IF NOT EXISTS orders (
  orderid integer NOT NULL DEFAULT nextval('orders_orderid_seq'::regclass),
  customerid integer,
  createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  order_channel character varying NOT NULL DEFAULT 'online'::character varying,
  status character varying NOT NULL DEFAULT 'pending'::character varying
);

CREATE TABLE IF NOT EXISTS orderdetails (
  orderdetailsid integer NOT NULL DEFAULT nextval('orderdetails_orderdetailsid_seq'::regclass),
  orderid integer,
  productid integer,
  quantity integer,
  unit_price numeric
);

CREATE TABLE IF NOT EXISTS branch (
  branchid integer NOT NULL,
  branchname character varying NOT NULL,
  location character varying NOT NULL
);

CREATE TABLE IF NOT EXISTS appointment (
  appointmentid integer NOT NULL DEFAULT nextval('appointment_appointmentid_seq'::regclass),
  customerid integer,
  starttime timestamp without time zone NOT NULL,
  endtime timestamp without time zone NOT NULL,
  notes text,
  priority character varying,
  status character varying,
  createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  cancellationreason text,
  checkedin boolean DEFAULT false,
  arrivedat timestamp without time zone,
  noshow boolean DEFAULT false,
  branchid integer,
  staffid integer
);

CREATE TABLE IF NOT EXISTS appointmentservice (
  appointmentserviceid integer NOT NULL DEFAULT nextval('appointmentservice_appointmentserviceid_seq'::regclass),
  appointmentid integer NOT NULL,
  serviceid integer NOT NULL
);

CREATE TABLE IF NOT EXISTS customer_addresses (
  addressid integer NOT NULL DEFAULT nextval('customer_addresses_addressid_seq'::regclass),
  customerid integer,
  street text NOT NULL,
  barangay character varying,
  city character varying NOT NULL,
  province character varying NOT NULL,
  postal_code character varying,
  is_default boolean DEFAULT false,
  created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS active_sessions (
  user_id integer NOT NULL,
  login_id uuid NOT NULL,
  last_route character varying,
  updated_at timestamp without time zone DEFAULT now()
);

CREATE TABLE IF NOT EXISTS product_transfers (
  transferid integer NOT NULL DEFAULT nextval('product_transfers_transferid_seq'::regclass),
  productid integer NOT NULL,
  from_branchid integer NOT NULL,
  to_branchid integer NOT NULL,
  quantity integer NOT NULL,
  transfer_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  adminid integer,
  remarks text,
  status character varying DEFAULT 'PENDING'::character varying,
  reference_code character varying
);

CREATE TABLE IF NOT EXISTS product_adjustments (
  adjustmentid integer NOT NULL DEFAULT nextval('product_adjustments_adjustmentid_seq'::regclass),
  type character varying NOT NULL,
  productid integer,
  userid integer,
  quantity integer,
  reason character varying,
  remarks text,
  datetime timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  branchid integer,
  reference_code character varying
);

CREATE TABLE IF NOT EXISTS product_returns (
  returnid integer NOT NULL DEFAULT nextval('product_returns_returnid_seq'::regclass),
  orderid integer,
  customerid integer,
  productid integer,
  quantity integer NOT NULL,
  reason text,
  reason_type character varying DEFAULT 'others'::character varying,
  status character varying DEFAULT 'pending'::character varying,
  customer_evidence_image character varying,
  createdat timestamp without time zone DEFAULT now(),
  updated_at timestamp without time zone DEFAULT now(),
  refund_proof character varying,
  refund_at timestamp without time zone,
  reference_code character varying
);

CREATE TABLE IF NOT EXISTS products (
  productid integer NOT NULL DEFAULT nextval('products_productid_seq'::regclass),
  prodname character varying NOT NULL,
  prodcat character varying NOT NULL,
  price numeric,
  prodimage character varying,
  createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  supplier_price numeric DEFAULT 0.00
);

CREATE TABLE IF NOT EXISTS supplier (
  supplierid integer NOT NULL DEFAULT nextval('supplierid_seq'::regclass),
  suppliername character varying,
  contactperson character varying,
  contacts integer,
  address character varying,
  remarks character varying,
  productid integer
);

CREATE TABLE IF NOT EXISTS queueservice (
  queueserviceid integer NOT NULL,
  queueid integer NOT NULL,
  serviceid integer NOT NULL
);

CREATE TABLE IF NOT EXISTS queue (
  queueid integer NOT NULL,
  queuedate date NOT NULL DEFAULT CURRENT_DATE,
  customerid integer,
  appointmentid integer,
  staffid integer,
  customername character varying NOT NULL,
  source character varying NOT NULL,
  status character varying NOT NULL DEFAULT 'waiting'::character varying,
  arrivaltime timestamp without time zone NOT NULL DEFAULT CURRENT_TIMESTAMP,
  calledat timestamp without time zone,
  servicestartat timestamp without time zone,
  serviceendat timestamp without time zone,
  priorityweight integer NOT NULL DEFAULT 0,
  positionoverride integer,
  notes text,
  createdat timestamp without time zone NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updatedat timestamp without time zone NOT NULL DEFAULT CURRENT_TIMESTAMP,
  isarrived boolean NOT NULL DEFAULT false,
  branchid integer
);

CREATE TABLE IF NOT EXISTS purchaseorderdetails (
  purchasedetailid integer NOT NULL DEFAULT nextval('purchasedetailid_seq'::regclass),
  purchaseid integer,
  productid integer,
  unit_price numeric,
  quantity integer
);

CREATE TABLE IF NOT EXISTS purchaseorder (
  purchaseid integer NOT NULL DEFAULT nextval('purchaseorderid_seq'::regclass),
  supplierid integer,
  status text,
  branchid integer,
  dateordered timestamp without time zone DEFAULT now()
);

CREATE TABLE IF NOT EXISTS reservationpayment (
  reservationpaymentid integer NOT NULL DEFAULT nextval('reservationpayment_reservationpaymentid_seq'::regclass),
  appointmentid integer,
  customerid integer,
  reference_code character varying,
  method text DEFAULT 'gcash'::text,
  status character varying DEFAULT 'pending'::character varying,
  currency character varying DEFAULT 'PHP'::character varying,
  reservation_fee numeric NOT NULL DEFAULT 0.00,
  checkout_url text,
  paymongo_id character varying,
  paid_at timestamp without time zone,
  created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  queueid integer,
  paymongo_payment_id text
);

CREATE TABLE IF NOT EXISTS service (
  serviceid integer NOT NULL DEFAULT nextval('service_serviceid_seq'::regclass),
  servicetype text NOT NULL,
  servicename text NOT NULL,
  amount numeric NOT NULL,
  image character varying
);

CREATE TABLE IF NOT EXISTS supplierpurchasedetails (
  purchasedetailid integer NOT NULL DEFAULT nextval('supplierpurchasedetails_purchasedetailid_seq'::regclass),
  purchaseid integer,
  productid integer,
  quantity integer,
  createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updatedat timestamp without time zone
);

CREATE TABLE IF NOT EXISTS staff (
  staffid integer NOT NULL DEFAULT nextval('staff_staffid_seq'::regclass),
  firstname text NOT NULL,
  lastname text NOT NULL,
  contact character varying,
  userid integer,
  branchid integer,
  updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  image text,
  role ARRAY DEFAULT '{}'::text[]
);

CREATE TABLE IF NOT EXISTS users (
  userid integer NOT NULL DEFAULT nextval('users_userid_seq'::regclass),
  username character varying NOT NULL,
  password character varying NOT NULL,
  role character varying,
  email character varying NOT NULL,
  isactive boolean DEFAULT true,
  accountcreated timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS reservation_settlements (
  settlementid integer NOT NULL DEFAULT nextval('reservation_settlements_settlementid_seq'::regclass),
  reference_code character varying,
  method character varying,
  status character varying DEFAULT 'pending'::character varying,
  paymongo_id character varying,
  checkout_url text,
  paid_at timestamp without time zone,
  created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS settlement_items (
  itemid integer NOT NULL DEFAULT nextval('settlement_items_itemid_seq'::regclass),
  settlementid integer,
  reservationpaymentid integer
);

CREATE TABLE IF NOT EXISTS supplierpayment (
  supplierpaymentid integer NOT NULL DEFAULT nextval('supplierpayment_supplierpaymentid_seq1'::regclass),
  purchaseid integer,
  partialamountpaid numeric,
  method text,
  paymongo_id text,
  checkout_url text,
  status text DEFAULT 'PENDING'::text,
  createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  reference_code text,
  payment_type text DEFAULT 'IMMEDIATE'::text,
  payment_term_days integer DEFAULT 0
);

CREATE TABLE IF NOT EXISTS supplierpurchase (
  purchaseid integer NOT NULL DEFAULT nextval('supplierpurchase_purchaseid_seq'::regclass),
  supplierid integer,
  status character varying,
  createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  updatedat timestamp without time zone,
  branchid integer
);

INSERT INTO announcement (id, title, category, content, priority, audience, status, start_date, start_time, created_at) VALUES (1, 'wrlgjoergerg', 'General', 'welfjiewofoiewfowe', 'high', 'All Users', 'Published', '2026-04-23T16:00:00.000Z', '12:24:00', '2026-04-24T04:24:04.742Z') ON CONFLICT DO NOTHING;
INSERT INTO announcement (id, title, category, content, priority, audience, status, start_date, start_time, created_at) VALUES (2, 'haha mga staff mahina', 'General', 'uhoihik', 'medium', 'Staff Only', 'Published', '2026-04-23T16:00:00.000Z', '12:35:00', '2026-04-24T04:35:56.604Z') ON CONFLICT DO NOTHING;
INSERT INTO customers (customerid, firstname, lastname, contact, userid, updatedat, profileimage) VALUES (1, 'Vladimir', 'Cruz', '09123456789', 3, '2025-11-17T02:18:19.321Z', NULL) ON CONFLICT DO NOTHING;
INSERT INTO customers (customerid, firstname, lastname, contact, userid, updatedat, profileimage) VALUES (2, 'Vladimir', 'Cruz', '09171234567', 4, '2025-11-17T03:14:46.571Z', NULL) ON CONFLICT DO NOTHING;
INSERT INTO customers (customerid, firstname, lastname, contact, userid, updatedat, profileimage) VALUES (3, 'dreii', 'nagba', '09505416671', 5, '2025-11-17T03:18:32.250Z', NULL) ON CONFLICT DO NOTHING;
INSERT INTO admin (adminid, firstname, lastname, contact, userid, updatedat, image) VALUES (1, 'Alice', 'Admin', '09123456787', 12, '2026-05-03T22:50:36.702Z', '1777848636698-OIP (9).webp') ON CONFLICT DO NOTHING;
INSERT INTO customerpayment_orders (id, customerpaymentid, orderid) VALUES (248, 234, 254) ON CONFLICT DO NOTHING;
INSERT INTO customerpayment_orders (id, customerpaymentid, orderid) VALUES (249, 235, 255) ON CONFLICT DO NOTHING;
INSERT INTO customerpayment_orders (id, customerpaymentid, orderid) VALUES (250, 235, 256) ON CONFLICT DO NOTHING;
INSERT INTO orders (orderid, customerid, createdat, updatedat, order_channel, status) VALUES (254, 9, '2026-05-10T06:25:31.084Z', '2026-05-10T06:26:22.153Z', 'online', 'delivered') ON CONFLICT DO NOTHING;
INSERT INTO orders (orderid, customerid, createdat, updatedat, order_channel, status) VALUES (255, 9, '2026-05-10T12:08:40.177Z', '2026-05-10T12:11:57.909Z', 'online', 'delivered') ON CONFLICT DO NOTHING;
INSERT INTO orders (orderid, customerid, createdat, updatedat, order_channel, status) VALUES (256, 9, '2026-05-10T12:08:43.115Z', '2026-05-10T12:11:57.909Z', 'online', 'delivered') ON CONFLICT DO NOTHING;
INSERT INTO orderdetails (orderdetailsid, orderid, productid, quantity, unit_price) VALUES (299, 254, 37, 1, '250.00') ON CONFLICT DO NOTHING;
INSERT INTO orderdetails (orderdetailsid, orderid, productid, quantity, unit_price) VALUES (300, 255, 6, 1, '560.00') ON CONFLICT DO NOTHING;
INSERT INTO orderdetails (orderdetailsid, orderid, productid, quantity, unit_price) VALUES (301, 256, 4, 1, '520.00') ON CONFLICT DO NOTHING;
INSERT INTO branch (branchid, branchname, location) VALUES (1, 'Main Branch', '123 Main St, Manila') ON CONFLICT DO NOTHING;
INSERT INTO branch (branchid, branchname, location) VALUES (2, 'Cebu Branch', '456 Side St, Cebu') ON CONFLICT DO NOTHING;
INSERT INTO branch (branchid, branchname, location) VALUES (3, 'Davao Branch', '789 High St, Davao') ON CONFLICT DO NOTHING;
INSERT INTO appointment (appointmentid, customerid, starttime, endtime, notes, priority, status, createdat, updatedat, cancellationreason, checkedin, arrivedat, noshow, branchid, staffid) VALUES (116, 9, '2026-05-08T01:30:00.000Z', '2026-05-08T03:30:00.000Z', '', 'high', 'completed', '2026-05-08T15:42:07.976Z', '2026-05-08T15:43:21.921Z', NULL, false, NULL, false, 2, 6) ON CONFLICT DO NOTHING;
INSERT INTO appointment (appointmentid, customerid, starttime, endtime, notes, priority, status, createdat, updatedat, cancellationreason, checkedin, arrivedat, noshow, branchid, staffid) VALUES (117, 9, '2026-05-09T02:00:00.000Z', '2026-05-09T04:00:00.000Z', '', 'high', 'completed', '2026-05-08T16:21:36.984Z', '2026-05-08T16:22:55.608Z', NULL, false, NULL, false, 2, 6) ON CONFLICT DO NOTHING;
INSERT INTO appointment (appointmentid, customerid, starttime, endtime, notes, priority, status, createdat, updatedat, cancellationreason, checkedin, arrivedat, noshow, branchid, staffid) VALUES (118, 9, '2026-05-09T02:00:00.000Z', '2026-05-09T04:00:00.000Z', '', 'high', 'completed', '2026-05-08T16:24:22.694Z', '2026-05-08T16:25:30.823Z', NULL, false, NULL, false, 2, 6) ON CONFLICT DO NOTHING;
INSERT INTO appointmentservice (appointmentserviceid, appointmentid, serviceid) VALUES (278, 116, 3) ON CONFLICT DO NOTHING;
INSERT INTO appointmentservice (appointmentserviceid, appointmentid, serviceid) VALUES (279, 116, 4) ON CONFLICT DO NOTHING;
INSERT INTO appointmentservice (appointmentserviceid, appointmentid, serviceid) VALUES (280, 117, 3) ON CONFLICT DO NOTHING;
INSERT INTO customer_addresses (addressid, customerid, street, barangay, city, province, postal_code, is_default, created_at) VALUES (9, 25, '123 Rizal Street', 'Barangay 5', 'Davao', 'Davao del Sur', '8000', true, '2026-02-16T00:32:12.304Z') ON CONFLICT DO NOTHING;
INSERT INTO customer_addresses (addressid, customerid, street, barangay, city, province, postal_code, is_default, created_at) VALUES (10, 25, 'Blk 4 Lot 12 Emerald Homes', 'Matina', 'Davao', 'Davao del Sur', '8000', false, '2026-02-16T00:32:12.304Z') ON CONFLICT DO NOTHING;
INSERT INTO customer_addresses (addressid, customerid, street, barangay, city, province, postal_code, is_default, created_at) VALUES (11, 1, '45 Mabini Ave', 'Poblacion', 'Cebu', 'Cebu', '6000', true, '2026-02-16T00:32:12.304Z') ON CONFLICT DO NOTHING;
INSERT INTO active_sessions (user_id, login_id, last_route, updated_at) VALUES (30, 'b3451e5a-779f-4b9f-b53f-f3ef413fa0db', '/api/online-orders', '2026-02-17T05:56:50.723Z') ON CONFLICT DO NOTHING;
INSERT INTO active_sessions (user_id, login_id, last_route, updated_at) VALUES (38, '0144ebcb-7a52-440d-bcb5-cfb5bbc22c7d', '/api/online-orders', '2026-03-10T02:05:55.309Z') ON CONFLICT DO NOTHING;
INSERT INTO active_sessions (user_id, login_id, last_route, updated_at) VALUES (31, '47ffd4a9-9141-4d6b-9337-510583a0a229', '/api/online-orders', '2026-02-18T09:12:03.209Z') ON CONFLICT DO NOTHING;
INSERT INTO product_transfers (transferid, productid, from_branchid, to_branchid, quantity, transfer_date, adminid, remarks, status, reference_code) VALUES (7, 26, 2, 3, 1, '2026-05-10T06:27:30.799Z', 1, 'Transfer from Cebu Branch', 'ARRIVED', NULL) ON CONFLICT DO NOTHING;
INSERT INTO product_transfers (transferid, productid, from_branchid, to_branchid, quantity, transfer_date, adminid, remarks, status, reference_code) VALUES (8, 23, 3, 2, 1, '2026-05-10T11:47:38.784Z', 1, 'Transfer from Davao Branch', 'ARRIVED', 'TRF-287486') ON CONFLICT DO NOTHING;
INSERT INTO product_adjustments (adjustmentid, type, productid, userid, quantity, reason, remarks, datetime, branchid, reference_code) VALUES (8, 'Usage', 27, 52, 2, 'Used in service', '', '2026-05-04T07:27:17.994Z', 2, NULL) ON CONFLICT DO NOTHING;
INSERT INTO product_adjustments (adjustmentid, type, productid, userid, quantity, reason, remarks, datetime, branchid, reference_code) VALUES (9, 'Usage', 31, 54, 2, 'Used in service', '', '2026-05-04T07:27:35.716Z', 2, NULL) ON CONFLICT DO NOTHING;
INSERT INTO product_adjustments (adjustmentid, type, productid, userid, quantity, reason, remarks, datetime, branchid, reference_code) VALUES (10, 'Usage', 3, 52, 1, 'Used in service', '', '2026-05-10T06:08:11.262Z', 2, 'USE-291261-NGE') ON CONFLICT DO NOTHING;
INSERT INTO product_returns (returnid, orderid, customerid, productid, quantity, reason, reason_type, status, customer_evidence_image, createdat, updated_at, refund_proof, refund_at, reference_code) VALUES (13, 254, 9, 37, 1, 'weadwa', 'Damaged Product', 'completed', '1778394413492-71b56p2pn6L._AC_.jpg', '2026-05-10T06:26:53.535Z', '2026-05-10T06:30:35.202Z', NULL, NULL, NULL) ON CONFLICT DO NOTHING;
INSERT INTO product_returns (returnid, orderid, customerid, productid, quantity, reason, reason_type, status, customer_evidence_image, createdat, updated_at, refund_proof, refund_at, reference_code) VALUES (14, 255, 9, 6, 1, 'awdwad', 'Damaged Product', 'completed', '1778415160290-OIP (8).webp', '2026-05-10T12:12:40.301Z', '2026-05-10T12:13:39.678Z', NULL, NULL, 'RET-889155') ON CONFLICT DO NOTHING;
INSERT INTO products (productid, prodname, prodcat, price, prodimage, createdat, supplier_price) VALUES (18, 'honeyglow serum', 'Skincare', '1212.00', '1774182275543-Honey Glow Serum.jfif', '2026-03-22T12:24:35.605Z', '1100.00') ON CONFLICT DO NOTHING;
INSERT INTO products (productid, prodname, prodcat, price, prodimage, createdat, supplier_price) VALUES (1, 'Updated Serum', 'Hair Care', '400.00', '1764082531432-grandelan.PNG', '2025-11-23T12:18:15.455Z', '300.00') ON CONFLICT DO NOTHING;
INSERT INTO products (productid, prodname, prodcat, price, prodimage, createdat, supplier_price) VALUES (3, 'Luxe Nail Polish Set', 'Nail Care', '299.00', '1764149023343-luxe nail polish.jpg', '2025-11-23T12:18:15.455Z', '250.00') ON CONFLICT DO NOTHING;
INSERT INTO supplier (supplierid, suppliername, contactperson, contacts, address, remarks, productid) VALUES (4, 'New Supplier', 'David', 945678901, '101 New St, Manila', 'Test Supplier', 1) ON CONFLICT DO NOTHING;
INSERT INTO supplier (supplierid, suppliername, contactperson, contacts, address, remarks, productid) VALUES (5, 'Glow Cosmetics', 'Alice', 912345678, '123 Main St, Manila', 'Top supplier', 1) ON CONFLICT DO NOTHING;
INSERT INTO supplier (supplierid, suppliername, contactperson, contacts, address, remarks, productid) VALUES (6, 'Glow Cosmetics', 'Alice', 912345678, '123 Main St, Manila', 'Top supplier', 1) ON CONFLICT DO NOTHING;
INSERT INTO queueservice (queueserviceid, queueid, serviceid) VALUES (99, 172, 3) ON CONFLICT DO NOTHING;
INSERT INTO queueservice (queueserviceid, queueid, serviceid) VALUES (100, 172, 4) ON CONFLICT DO NOTHING;
INSERT INTO queueservice (queueserviceid, queueid, serviceid) VALUES (101, 173, 3) ON CONFLICT DO NOTHING;
INSERT INTO queue (queueid, queuedate, customerid, appointmentid, staffid, customername, source, status, arrivaltime, calledat, servicestartat, serviceendat, priorityweight, positionoverride, notes, createdat, updatedat, isarrived, branchid) VALUES (177, '2026-05-08T16:00:00.000Z', 9, 117, 6, 'Ashicakes ', 'appointment', 'done', '2026-05-08T16:21:57.217Z', '2026-05-08T16:22:01.840Z', '2026-05-08T16:22:01.840Z', '2026-05-08T16:22:03.055Z', 0, NULL, NULL, '2026-05-08T16:21:57.217Z', '2026-05-08T16:22:55.608Z', true, 2) ON CONFLICT DO NOTHING;
INSERT INTO queue (queueid, queuedate, customerid, appointmentid, staffid, customername, source, status, arrivaltime, calledat, servicestartat, serviceendat, priorityweight, positionoverride, notes, createdat, updatedat, isarrived, branchid) VALUES (178, '2026-05-08T16:00:00.000Z', 9, 118, 6, 'Ashicakes ', 'appointment', 'done', '2026-05-08T16:24:42.428Z', '2026-05-08T16:24:56.220Z', '2026-05-08T16:24:56.220Z', '2026-05-08T16:25:00.541Z', 0, NULL, NULL, '2026-05-08T16:24:42.428Z', '2026-05-08T16:25:30.823Z', true, 2) ON CONFLICT DO NOTHING;
INSERT INTO queue (queueid, queuedate, customerid, appointmentid, staffid, customername, source, status, arrivaltime, calledat, servicestartat, serviceendat, priorityweight, positionoverride, notes, createdat, updatedat, isarrived, branchid) VALUES (179, '2026-05-08T16:00:00.000Z', NULL, NULL, 1, 'undertaker', 'walkin', 'done', '2026-05-08T16:24:52.051Z', '2026-05-08T16:24:59.260Z', '2026-05-08T16:24:59.260Z', '2026-05-08T16:25:01.260Z', 0, NULL, NULL, '2026-05-08T16:24:52.051Z', '2026-05-08T16:25:30.823Z', true, 2) ON CONFLICT DO NOTHING;
INSERT INTO purchaseorderdetails (purchasedetailid, purchaseid, productid, unit_price, quantity) VALUES (1, 2, 1, '450.00', 2) ON CONFLICT DO NOTHING;
INSERT INTO purchaseorder (purchaseid, supplierid, status, branchid, dateordered) VALUES (2, 4, 'Pending', 1, '2025-11-24T05:19:56.386Z') ON CONFLICT DO NOTHING;
INSERT INTO reservationpayment (reservationpaymentid, appointmentid, customerid, reference_code, method, status, currency, reservation_fee, checkout_url, paymongo_id, paid_at, created_at, updated_at, queueid, paymongo_payment_id) VALUES (152, 116, 9, 'RES-809313', 'gcash', 'paid', 'PHP', '475.00', 'https://checkout.paymongo.com/b94b4ba0070d5c4efbd7aad4', 'cs_b94b4ba0070d5c4efbd7aad4', '2026-05-08T15:42:15.095Z', '2026-05-08T15:42:08.460Z', '2026-05-08T15:42:15.095Z', NULL, 'pay_Ue1Bc6cVWCh1uaeg3fywWpxS') ON CONFLICT DO NOTHING;
INSERT INTO reservationpayment (reservationpaymentid, appointmentid, customerid, reference_code, method, status, currency, reservation_fee, checkout_url, paymongo_id, paid_at, created_at, updated_at, queueid, paymongo_payment_id) VALUES (153, NULL, NULL, 'WALK-700989', 'gcash', 'paid', 'PHP', '400.00', 'https://checkout.paymongo.com/8184871a00f5bb4e76bb6574', 'cs_8184871a00f5bb4e76bb6574', '2026-05-08T15:43:21.921Z', '2026-05-08T15:42:41.667Z', '2026-05-08T15:42:41.667Z', 173, NULL) ON CONFLICT DO NOTHING;
INSERT INTO reservationpayment (reservationpaymentid, appointmentid, customerid, reference_code, method, status, currency, reservation_fee, checkout_url, paymongo_id, paid_at, created_at, updated_at, queueid, paymongo_payment_id) VALUES (154, NULL, NULL, 'WALK-505778', 'gcash', 'paid', 'PHP', '3500.00', 'https://checkout.paymongo.com/7cf94992c9adf93de87604c6', 'cs_7cf94992c9adf93de87604c6', '2026-05-08T16:04:10.967Z', '2026-05-08T16:03:57.842Z', '2026-05-08T16:03:57.842Z', 174, NULL) ON CONFLICT DO NOTHING;
INSERT INTO service (serviceid, servicetype, servicename, amount, image) VALUES (2, 'Hair Services', 'Women''s Haircut', '500.00', '1776989636854-images.jfif') ON CONFLICT DO NOTHING;
INSERT INTO service (serviceid, servicetype, servicename, amount, image) VALUES (3, 'Hair Services', 'Blow-dry & Style', '400.00', '1776989736078-199853554_824562655164518_8421093783201492488_n-500x628.jpeg') ON CONFLICT DO NOTHING;
INSERT INTO service (serviceid, servicetype, servicename, amount, image) VALUES (4, 'Hair Services', 'Full Hair Color', '1500.00', '1776989771376-5a2206614338fce94cc76f0bbb4615fe.jpg') ON CONFLICT DO NOTHING;
INSERT INTO supplierpurchasedetails (purchasedetailid, purchaseid, productid, quantity, createdat, updatedat) VALUES (172, 83, 4, 1, '2026-05-10T04:27:53.948Z', NULL) ON CONFLICT DO NOTHING;
INSERT INTO supplierpurchasedetails (purchasedetailid, purchaseid, productid, quantity, createdat, updatedat) VALUES (173, 83, 5, 1, '2026-05-10T04:27:53.948Z', NULL) ON CONFLICT DO NOTHING;
INSERT INTO supplierpurchasedetails (purchasedetailid, purchaseid, productid, quantity, createdat, updatedat) VALUES (174, 84, 38, 1, '2026-05-10T04:28:53.710Z', NULL) ON CONFLICT DO NOTHING;
INSERT INTO staff (staffid, firstname, lastname, contact, userid, branchid, updatedat, image, role) VALUES (2, 'Jane', 'Smith', '09123456788', 11, 1, '2026-03-30T06:03:54.765Z', '1774850634759-pic-5.jpg', '["Spa Therapist","Beauty Specialist","Makeup Artist","Esthetician","Hair Stylist","Nail Technician"]') ON CONFLICT DO NOTHING;
INSERT INTO staff (staffid, firstname, lastname, contact, userid, branchid, updatedat, image, role) VALUES (3, 'Maria', 'Santos', '0917-123-4567', 16, 1, '2025-11-27T03:23:12.173Z', NULL, '["Esthetician","Hair Stylist","Nail Technician","Makeup Artist"]') ON CONFLICT DO NOTHING;
INSERT INTO staff (staffid, firstname, lastname, contact, userid, branchid, updatedat, image, role) VALUES (1, 'Anna', 'Stylist', '09123456789', 3, 2, '2025-11-17T12:06:12.286Z', NULL, '["Esthetician","Makeup Artist","Beauty Specialist","Spa Therapist","Hair Stylist","Nail Technician","Queue Monitoring"]') ON CONFLICT DO NOTHING;
INSERT INTO users (userid, username, password, role, email, isactive, accountcreated) VALUES (1, 'testuser', 'mypassword', 'user', 'test@example.com', true, '2025-11-13T14:38:21.337Z') ON CONFLICT DO NOTHING;
INSERT INTO users (userid, username, password, role, email, isactive, accountcreated) VALUES (4, 'vlad', '12345', 'user', 'vlad456@gmail.com', true, '2025-11-17T03:14:46.557Z') ON CONFLICT DO NOTHING;
INSERT INTO users (userid, username, password, role, email, isactive, accountcreated) VALUES (5, 'dreifinity', '123456', 'user', 'dreifinity08@gmail.com', true, '2025-11-17T03:18:32.242Z') ON CONFLICT DO NOTHING;
INSERT INTO reservation_settlements (settlementid, reference_code, method, status, paymongo_id, checkout_url, paid_at, created_at, updated_at) VALUES (15, 'SET-155466', 'gcash', 'paid', 'cs_ea3eafd1a788d60061864152', 'https://checkout.paymongo.com/ea3eafd1a788d60061864152', '2026-05-08T15:43:21.921Z', '2026-05-08T15:42:57.124Z', '2026-05-08T15:43:21.921Z') ON CONFLICT DO NOTHING;
INSERT INTO reservation_settlements (settlementid, reference_code, method, status, paymongo_id, checkout_url, paid_at, created_at, updated_at) VALUES (16, 'SET-177240', 'cash', 'paid', NULL, NULL, '2026-05-08T16:04:10.967Z', '2026-05-08T16:04:10.930Z', '2026-05-08T16:04:10.967Z') ON CONFLICT DO NOTHING;
INSERT INTO reservation_settlements (settlementid, reference_code, method, status, paymongo_id, checkout_url, paid_at, created_at, updated_at) VALUES (17, 'SET-610058', 'cash', 'paid', NULL, NULL, '2026-05-08T16:19:37.250Z', '2026-05-08T16:19:37.191Z', '2026-05-08T16:19:37.250Z') ON CONFLICT DO NOTHING;
INSERT INTO settlement_items (itemid, settlementid, reservationpaymentid) VALUES (26, 15, 152) ON CONFLICT DO NOTHING;
INSERT INTO settlement_items (itemid, settlementid, reservationpaymentid) VALUES (27, 15, 153) ON CONFLICT DO NOTHING;
INSERT INTO settlement_items (itemid, settlementid, reservationpaymentid) VALUES (28, 16, 154) ON CONFLICT DO NOTHING;
INSERT INTO supplierpayment (supplierpaymentid, purchaseid, partialamountpaid, method, paymongo_id, checkout_url, status, createdat, updatedat, reference_code, payment_type, payment_term_days) VALUES (92, 90, '100', 'CASH', NULL, NULL, 'PAID', '2026-05-10T04:52:00.053Z', '2026-05-10T04:52:00.053Z', 'REF-1778388720053-B5Y9Y', 'PAYLATER', 30) ON CONFLICT DO NOTHING;
INSERT INTO supplierpayment (supplierpaymentid, purchaseid, partialamountpaid, method, paymongo_id, checkout_url, status, createdat, updatedat, reference_code, payment_type, payment_term_days) VALUES (93, 91, '100', 'CASH', NULL, NULL, 'PENDING', '2026-05-10T04:53:03.157Z', '2026-05-10T04:53:03.157Z', 'REF-1778388783156-YILHI', 'PAYLATER', 30) ON CONFLICT DO NOTHING;
INSERT INTO supplierpayment (supplierpaymentid, purchaseid, partialamountpaid, method, paymongo_id, checkout_url, status, createdat, updatedat, reference_code, payment_type, payment_term_days) VALUES (94, 91, '650', 'GCASH', 'cs_51a7088c0e03e9c2fc043668', 'https://checkout.paymongo.com/51a7088c0e03e9c2fc043668', 'PAID', '2026-05-10T04:56:33.210Z', '2026-05-10T04:56:33.210Z', 'REF-1778388993208-TGA8J', 'IMMEDIATE', 0) ON CONFLICT DO NOTHING;
INSERT INTO supplierpurchase (purchaseid, supplierid, status, createdat, updatedat, branchid) VALUES (85, 6, 'COMPLETED', '2026-05-10T04:40:53.522Z', '2026-05-10T04:41:01.935Z', 2) ON CONFLICT DO NOTHING;
INSERT INTO supplierpurchase (purchaseid, supplierid, status, createdat, updatedat, branchid) VALUES (87, 7, 'COMPLETED', '2026-05-10T04:43:25.258Z', '2026-05-10T04:45:18.626Z', 2) ON CONFLICT DO NOTHING;
INSERT INTO supplierpurchase (purchaseid, supplierid, status, createdat, updatedat, branchid) VALUES (88, 7, 'COMPLETED', '2026-05-10T04:50:13.827Z', '2026-05-10T04:50:30.247Z', 2) ON CONFLICT DO NOTHING;
COMMIT;
